html {
    font-size: 12px;
}

body {
    margin: 0.75rem;
    padding: 0;
    background-color: #8CBeB2;
    font-family: 'Roboto Slab', serif;
    color: #142128;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: calc(100% * 0.6);
    background-position: center center;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form, input {
    font-family: 'Roboto Slab', serif;
    font-size: 0.45rem;
}

input[type=text] {
    padding: calc(0.3rem + 1px);
    width: 40%;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    border: 0;
}

input[type=submit], button {
    position: relative;
    text-transform: uppercase;
    background-color: #F06060;
    border: 0;
    color: #f5f5f5;
    font-size: 0.45rem;
    padding: 0.3rem;
    letter-spacing: 0.15em;
}

input[type=submit]:hover, button:hover {
    background-color: #c05959;
}

#get_user {
    text-align: center;
    margin: 0.5rem 0;
}

button {
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    margin-left: 0.2rem;
    font-family: 'Roboto Slab', serif;
    padding: 0.3rem 0.4rem;
}

header, main, footer, p {
    padding: 0;
    margin: 0;
    display: block;
    font-size: 0.5rem;
    overflow: visible;
}

a, a:link, a:hover, a:visited, a:active {
    color: #142128;
    font-weight: bolder;
}

a:hover {
    color: #F3B562;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

header {
    display: block;
    border-radius: 0 1rem 0 0;
    -webkit-border-radius: 0 1rem 0 0;
    -moz-border-radius: 0 1rem 0 0;
    background-color: #5C4B51;
    position: relative;
}

p {
    line-height: 1.5em;
}

b {
    font-weight: bold;
}

h1 {
    font-size: 1.7rem;
    color: #f5f5f5;
    text-align: center;
    padding: 0.75rem 0 1rem 0;
    text-transform: uppercase;
    text-shadow: 0px 0px 0.1em #5C4B51;
}

h2 {
    font-size: 1.3rem;
    position: relative;
    left: -0.75rem;
    color: #325a65;
}

h2 p.section_id {
    font-size: 1.5rem;
    background-color: #F06060;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    text-align: center;
}

h2 p.section_id span {
    color: #f5f5f5;
    font-size: 1.5rem;
    display: inline-block;
    position: relative;
    top: -0.1rem;
    left: 0.05rem;
}

h3 {
    color: #142128;
    font-family: 'Roboto Slab', serif;
    border: 1px solid #5C4B51;
    font-size: 0.45rem;
    padding: 0.2rem 0;
}


main section {
    margin: 0;
    font-size: 1.5rem;
    overflow: visible;
    padding: 0.5rem 0 0.75rem 0;
    border-bottom: 0.07rem dashed #F3B562;
}

main section:nth-child(2n+1) {
    background-color: rgba(242, 235, 191, 0.4);
}

main section:nth-child(2n) {
    background-color: rgba(242, 235, 191, 0.7);
}

footer {
    padding: 0.5rem 0;
    background-color: rgba(92, 75, 81, 0.5);
    border-radius: 0 0 0 1rem;
    -webkit-border-radius: 0 0 0 1rem;
    -moz-border-radius: 0 0 0 1rem;
}


i {
    font-style: italic;
    font-family: 'PT Serif', serif;
}

/* ids -------------------------- */

#get_user input[type=text] {
    border-radius: 0.2rem 0 0 0.2rem;
    -webkit-border-radius: 0.2rem 0 0 0.2rem;
    -moz-border-radius: 0.2rem 0 0 0.2rem;
}

#get_user input[type=submit] {
    border-radius: 0 0.2rem 0.2rem 0;
    -webkit-border-radius: 0 0.2rem 0.2rem 0;
    -moz-border-radius: 0 0.2rem 0.2rem 0;
    margin-left: 0.2rem;
}

#user, #new-people {
    overflow: visible;
}

#user ul, #new-people ul, #friends ul{
    overflow: hidden;
    float: none;
    margin-bottom: 1rem;
}

#user h3, #friends h3 {
    text-align: center;
    margin-bottom: 0.2rem;
}

#user li, #new-people li, #friends li {
    width: 24%;
    margin-right: 0.98%;
    text-align: left;
    display: inline-block;
    /*border: 1px solid #000;*/
    float: left;
    overflow: hidden;
}

/*
#user li:nth-child(4n + 1) , #new-people li:nth-child(4n + 1)  {
	float: none;
}*/

#new-people li {
    text-align: center;
}

#new-people li p {
    text-align: left;
}

#new-people li b {
    text-align: center;
    display: block;
    margin-bottom: 0.2rem;
}

#new-people li a {
    display: block;
    margin-top: 0.2rem;
}

#new-people li i {
    display: block;
}

#user li:first-child {
    text-align: center;
}

#user li:last-child, #new-people li:last-child {
    margin-right: 0;
}

#user li img, #new-people li img {
    width: 80%;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#user li p, #friends li p {
    font-size: 0.4rem;
    text-align: left;
}

#font-size {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

#font-size ul {
    overflow: auto;
}

#font-size li {
    float: left;
    background-color: rgba(140, 190, 178, 0.2);
    padding: 0.1rem 0.2rem;
    margin-right: 0.15rem;
    min-width: 1rem;
    text-align: center;
    color: #f5f5f5;
}

#font-size li:last-child {
    margin-right: 0;
    border-radius: 0 0.5rem 0 0;
    -webkit-border-radius: 0 0.5rem 0 0;
    -moz-border-radius: 0 0.5rem 0 0;
}

#font-size li:hover {
    background-color: rgba(140, 190, 178, 0.4);
    cursor: pointer;
}

#clustering {
    display: none;
}

#results {
    display: none;
}

#friends .spacer span {
    color: #F2EBBF;
}

#friends button, #new-people button {
    margin: 0.5rem 0;
}

#friends-bar p, #friends-friends-bar p {
    position: relative;
    top: -1.05rem;
    left: 0.45rem;
    font-size: 0.6rem;
    color: #f5f5f5;
    text-shadow: 0px 0px 0.1em #5C4B51;
}

/* classes --------------------- */

.center {
    text-align: center;
}

.content {
    padding-left: 1.5rem;
    width: calc(100% - 2rem);
}

.content p {
    font-size: 0.45rem;
}

.columns {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
}

.error {
    background-color: #F3B562;
    padding: 0.2rem 1rem;
}

.bar {
    background-color: rgba(92, 75, 81, 0.8);
    width: 0;
    height: 1.2rem;
    padding: 0;
    display: block;
    overflow: hidden;
}

.spacer {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 3rem;
    margin: 1.5rem 0 2rem 0;
    overflow: visible;
    position: relative;
}

.spacer span {
    color: #8CBeB2;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    display: inline-block;
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    position: absolute;
    top: -3.0rem;
}

